---
layout: default
featured:
- icon: fa-mountain
  description: 2-day intensive course, learn how to identify hazards, build anchors, and safely rescue a fallen climber. Our course combines modern crevasse rescue techniques and effectiv
- icon: fa-mountain
  description: 2-day intensive course, learn how to identify hazards, build anchors, and safely rescue a fallen climber. Our course combines modern crevasse rescue techniques and effectiv
- icon: fa-mountain
  description: 2-day intensive course, learn how to identify hazards, build anchors, and safely rescue a fallen climber. Our course combines modern crevasse rescue techniques and effectiv
- icon: fa-mountain
  description: 2-day intensive course, learn how to identify hazards, build anchors, and safely rescue a fallen climber. Our course combines modern crevasse rescue techniques and effectiv
---

<!-- This is how I include the header and nav, it is referening the header-nav.html file -->

<header class="padded grid text-center tall-80 editable">
    {% include header-nav.html %}
</header>

<!--------------------------- gallery section ------------------------------->
<section class="grid editable">
    <div class="padded col-6-middle"><h2> <span class="featured-text"> Unlock </span> your Skills with our Crevasse Rescue Courses!</h2><p>During our 2-day intensive course, learn how to identify hazards, build anchors, and safely rescue a fallen climber. Our course combines modern crevasse rescue techniques and effective teaching styles to leave you feeling empowered to explore the mountains. We pride ourselves on our flexible itinerary which we can easily adapt based on learning styles, speeds, and personal goals.</p></div> 
    <div class="bg-image bg-rope col-6 tall-70"> 
        <!-- background image -->
    </div>
    <div class="bg-image bg-hiker col-6 tall-70"> 
        <!-- background image -->
    </div>
    <div class="padded col-6-middle">
        <h2>Climbing Instruction: <span class="featured-text">Unleash </span> Your Inner Rock Climber!</h2>
        <p>Join us for a day of learning-focused climbing in the mountains. Our expert guides will teach you the ropes, from basic techniques to advanced skills, ensuring you gain the knowledge and confidence to apply those skills to your own recreational climbing in the future. </p>
    </div> 
</section>
<!--------------------------- feature icon grid ------------------------------------------->
<!-- <section class="padded grid bg-dark editable">
    <div class="padded-sm col-12 text-center"> 
        <h2> Crevasse Rescue 2-Day</h2>
    </div>
{% for item in page.featured %}
    <div class="col-3"> 
        <i class="fa-solid padded-sm {{item.icon}}"></i>
        <p>{{item.description}}</p>
    </div>
{% endfor}
</section> -->
    <!--------------------------- Image Banner  ------------------------------------------->
<section class="padded text-center bg-moraine tall-70 grid editable">
    <div class="col-12-middle">
        <h3 class="big-text">
            <span class="small-text font-weight-light">Never underestimate the power of</span>
            <br /> a good night <span class=white-text> sleep </span>
        </h3>
    </div>
</section>
    <!--------------------------- Quote Section  ------------------------------------------->
<section class="padded grid editable">
    <div class="col-1 text-right">
        <span class="quote-icon">"</span>
    </div>
    <div class="col-10 text-center">
        <p class="medium-text font-weight-light"> I'm never experienced sleep like this. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis unde aliquam quisquam </p>
        <p class="subtitle"> -a very happy customer</p>
    </div>
    <div class="col-1 text-left">
        <span class="quote-icon">"</span>
    </div>
</section>